.button{
    color: var(--color--text);
    padding: 10px 45px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-size: 15px;
    display: block;
    margin: 0 auto ;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    transition: background 200ms ease;
}
.button:hover {
    background-color: #d8d4d4;
}